{% extends "layout/basic.html" %}

{% block content %}

<h3>Заявки</h3>
    {% if designapplication_list %}
        <hr>
        <div class="app-display p-2">
            {% for app in designapplication_list %}
                <div class="app-display-card">
                    <div>
                        <p class="mb-2 h5 text-center">{{app.title}}</p>
                        <p class="text-secondary mt-1 mb-1">{{ app.time_created_f }}</p>
                        <p class="text-white mb-0 app-display-category text-truncate">{{ app.get_categories }}</p>
                        <p class="text-white mb-0 app-display-price d-inline">{{ app.get_price }} ₽</p>
                        {% if app.discount != 0 %}
                            <p class="text-white mb-0 app-display-price d-inline bg-primary">-{{ app.discount }}%</p>
                        {% endif %}
                        <p class="text-secondary mt-1 mb-1 app-desc">{{ app.description }}</p>
                    </div>
                    <div>
                        {% if app.photo %}
                            <img src="{{ app.photo.url }}" alt="{{ app.title }}" class="app-display-img"/>
                        {% endif %}
                        <p class="text-white app-status mt-0
                        {% if app.status == 'n' %} bg-primary
                        {% elif app.status == 'w' %} bg-yellow
                        {% else %} bg-success
                        {% endif %}
                        ">{{ app.get_status_display }}</p>
                    </div>
                    {% if app.status == 'n' %}
                        <a href="{% url 'app_edit' app.id %}" class="btn btn-primary font-weight-bold">Редактировать</a>
                    {% elif app.status == 'w' %}
                        <p class="btn btn-secondary font-weight-bold mb-0">В работе</p>
                    {% elif not app.payment_confirmed %}
                        <a href="{% url 'app_edit_done' app.id %}" class="btn btn-success font-weight-bold">Подтвердить</a>
                    {% else %}
                        <p class="btn btn-secondary font-weight-bold mb-0">Выполнено</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
      <p>В базе нет заявок.</p>
    {% endif %}
{% endblock %}