/*form > p {
    display: flex;
    justify-content: end;
    width: 40%;
}*/

.sidebar-nav > li {
    list-style-type: none;
    margin: 10px;
}

form > p > input {
    padding: 3px;
}

form > p > select {
    padding: 3px;
}

form > p > input[type=text], input[type=password], textarea {
    padding: 3px;
    border-radius: 5px;
    border: 2px solid gray;
}

#id_consent {
    width: 20px;
    height: 20px;
}

h3 {
    margin-bottom: 20px;
}